.section-about {
  background-color: $color-grey-light-1;
  padding: 30rem 0;
  margin-top: -25vh;
}
.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.707),
        rgba($color-primary-drak, 0.726)
      ),
      url('../../img/nat-4.jpg');
  transform: skewY(-8deg);

  & > * {
    transform: skewY(8deg);
  }
}